@model CRM.ModelsVM.CRM.clsCRMListingLeadCaptureMasterVM


@{

    Layout = "~/Views/Shared/CRM/_CRMLayout.cshtml";
}
<body>
    @Html.Partial("~/Views/Shared/CRM/CRMListingLeadCaptureMaster/_CRMListingLeadCaptureMasterCreateEditDelete.cshtml", Model)

</body>


@section Scripts {
    <script src="~/Scripts/CustomScript/commonToolbar.js?v=timestamp"></script>
    <script src="~/Scripts/CustomScript/CRM/CRMListingLeadCaptureMasterJS.js?v=timestamp"></script>
}


