@*@model EzBusiness.Models.clsUserInformation*@
<div id="commontoolbar" >
    @*<button type="button" class="btn btn-outline-primary" onclick="tool_bar('Create')">Add</button>
    <button type="button" class="btn btn-outline-secondary" onclick="tool_bar('Edit')">Edit</button>*@
    <button type="button" id="btnCommonSave" class="btn btn-outline-success" onclick="tool_bar('Save')">Save</button>
    <button type="button" id="btnCommonDelete" class="btn btn-outline-danger" onclick="tool_bar('Delete')">Delete</button>
    @*<button type="button" class="btn btn-outline-warning" onclick="tool_bar('Clear')">Clear</button>
    <button type="button" class="btn btn-outline-info" onclick="tool_bar('Close')">Close</button>*@
</div>