
@model CRM.ModelsVM.CRM.clsCRMLeadCaptureMasterVM

@{

    Layout = "~/Views/Shared/CRM/_CRMLayout.cshtml";
}
<body>
    @Html.Partial("~/Views/Shared/CRM/CRMLeadCaptureMaster/_CRMLeadCaptureMasterCreateEditDelete.cshtml", Model)

</body>


@section Scripts {
    <script src="~/Scripts/CustomScript/commonToolbar.js?v=timestamp"></script>
    <script src="~/Scripts/CustomScript/CRM/CRMLeadCaptureMasterJS.js?v=timestamp"></script>
}

